.input {
    width: 100%; /* Zmieniono na 100% */
    text-align: center;
    border: 1px solid rgb(147, 168, 194);
    box-sizing: border-box; /* Dodano box-sizing */
    padding: .5rem;
  }
.input:focus{
    outline: none;
}
.temp{
    background-color: transparent;
    margin: .2rem;
    border: 1px solid rgb(147, 168, 194);
    outline: none;
    cursor: pointer;
    width: 2.5rem;
    height: 1.5rem;
    margin-top: .5rem;
    transition: background-color .5s;
}
.temp:hover{
    background-color: rgb(236, 244, 254);
}
.weather-image{
    position: absolute;
    top: 10rem;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 70px;
    z-index: -1;
}
.date{
    margin-bottom: .5rem;
}


.data {
    text-align: center;
    padding: 20px;
  }
  
  .forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .forecast-item {
    flex: 0 0 130px;
    padding: 10px;
    border: 1px solid rgb(147, 168, 194);
    margin: 3px;
    text-align: center;
  }
  
  .weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  