.body 
{
    font-size: 30%;
}
.accordion-section .panel-default>.panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1rem
}

.accordion-section .panel-default .panel-title a:after {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 3rem;
    color: #1f7de2;
    float: right;
    margin-top: -12px
}

.carousel {
    margin-bottom: 60px
}

.carousel-caption {
    z-index: 10
}

.carousel-item {
    margin-top: auto;
    height: 80vh;
    min-height: 350px;
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.circle {
    width: 435px;
    height: 594px
}

.section0,
.section1 {
    margin: auto;
    padding: 25px
}

.w-100 {
    padding: 10px
}

.footer-top,
.footer-top-color {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem
}

.card {
    box-shadow: 2px 5px 20px #777
}

#jumbo {
    background: #e9ecef
}

.ovl {
    opacity: 0;
    transition: 1s
}

.ovl:hover {
    opacity: 1;
    background: rgb(0, 0, 0, .6)
}

.footer-top {
    background: #333;
    text-align: center
}

.footer-top-color {
    background: #434343;
    text-align: left
}

.footer-copyright {
    background: #222
}

.footer-top h3 {
    padding-bottom: 10px;
    color: #fff
}

.footer-about {
    border: 0;
    margin: 0 auto
}

.footer-about p a:focus,
.footer-about p a:hover {
    border: 0
}

.footer-contact p {
    word-wrap: break-word
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #666
}

.footer-contact p a,
.footer-contact p a:focus,
.footer-contact p a:hover {
    border: 0
}

.footer-links a {
    color: #aaa;
    border: 0
}

.footer-links a:focus,
.footer-links a:hover {
    color: #fff
}

.footer-bottom {
    padding: 15px 0 17px;
    background: #444;
    text-align: left;
    color: #aaa
}

.footer-social {
    padding-top: 3px;
    text-align: right
}

.footer-social a {
    margin-left: 20px;
    color: #777;
    border: 0
}

.footer-social a:focus,
.footer-social a:hover {
    color: #79a05f;
    border: 0
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle
}

.footer-copyright {
    padding-top: 5px
}

.footer-copyright a {
    color: #fff;
    border: 0
}

.footer-copyright a:focus,
.footer-copyright a:hover {
    color: #aaa;
    border: 0
}

#contatti {
    letter-spacing: 2px
}

#author a,
#contatti a {
    color: #fff;
    text-decoration: none
}

@media (max-width:575.98px) {
    #contatti {
        padding-bottom: 800px
    }
    #contatti .maps iframe {
        width: 100%;
        height: 450px
    }
}

@media (min-width:576px) {
    #contatti {
        padding-bottom: 800px
    }
    #contatti .maps iframe {
        width: 100%;
        height: 450px
    }
}

@media (min-width:768px) {
    #contatti {
        padding-bottom: 350px
    }
    #contatti .maps iframe {
        width: 100%;
        height: 850px
    }
}

@media (min-width:992px) {
    #contatti {
        padding-bottom: 200px
    }
    #contatti .maps iframe {
        width: 100%;
        height: 700px
    }
}

.noresize {
    resize: none
}